body {
    align-items: center;
    margin: auto;
    padding: 70px 0;
    text-align: center;
    background-color: black;
}

div {
    font-size: 30px;
    color: white;
}

.hide {
    display: none;
}


.backgroundSet {
    background-image: url(https://i.ytimg.com/vi/zB1x2oIiKYY/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 30px;
}